.input:focus {
}

.input {
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  width: 372px;
  height: 36px;
  padding: 5px 10px;
}

.inputWrapper {
}

.superInput {
}

.errorInput {
  border: 1px solid #ff0000;
  border-radius: 5px;
  width: 372px;
  height: 36px;
}

.errorInput:focus {
}

.error {
}
